@model IEnumerable<EVSFinalProjectClasses.UserManagment.City>
@{
    ViewBag.Title = "Cities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cities</h2>
<h2>Cities of <em><u>@ViewBag.countryName</u></em></h2>

<p>
    @Html.ActionLink("Add New", "AddCity", new { id = ViewBag.countryId })
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr class="bg-dark text-white">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Country Name
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @ViewBag.countryName
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCity", new { id = item.Id, countryId = ViewBag.countryId })
                </td>
            </tr>
        }


    </table>
</div>


<p>@Html.ActionLink("Back To List", "Index", "Admin")</p>
