
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <h1 class="heading">Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card">
            <div class="card-header bg-info">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-shopping-bag fa-5x text-white"></i>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="huge">
                            @Html.Action("GetOrderByCount", "Contact")
                        </div>
                        <div>New Orders</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Orders","Admin")">
                <div class="card-body pb-0">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card ">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-users fa-5x text-white"></i>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="huge">
                            @Html.Action("GetUserByCount", "Contact")
                        </div>
                        <div>Total Users!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Customer","Admin")">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card">
            <div class="card-header bg-warning">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fab fa-product-hunt fa-5x text-white"></i>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="huge">
                            @Html.Action("GetProductsByCount", "Contact")
                        </div>
                        <div>Total Products!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("TotalProduct","Admin")">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card">
            <div class="card-header" style="background-color: orangered;">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-mobile-alt fa-5x text-white"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <div class="huge">
                            @Html.Action("GetBrandsByCount", "Contact")
                        </div>
                        <div>Mobile Brands!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","Brands")">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card">
            <div class="card-header" style="background-color: chocolate;">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-comments fa-5x text-white"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <div class="huge">13</div>
                        <div>New Messages</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","Contact")">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card">
            <div class="card-header" style="background-color: crimson;">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-check fa-5x text-white"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <div class="huge">
                            1
                        </div>
                        <div>Complete Orders!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-desktop fa-5x text-white"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <div class="huge">
                            @Html.Action("GetOsByCount", "Contact")
                        </div>
                        <div>Operating System!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","OperatingSystem")">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-3">
        <div class="card">
            <div class="card-header bg-danger">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-map-marker-alt fa-5x text-white"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <div class="huge">
                            @Html.Action("GetcountryByCount", "Contact")
                        </div>
                        <div>Total Countries!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","Admin")">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<h2 class="text-center">Google Analyatics</h2>
<div class="row" style="margin-bottom: 15%;">

    <div class="col-lg-6 p-3">
        <iframe width="666" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR5tqeTTTKN5jq0fCmg2PDRlxu_iwmjbAQyHRCklI_7nzkk2lLIixKM-YhAbvTl8UicS7-jruaUxI05/pubchart?oid=284960779&amp;format=interactive"></iframe>
    </div>
    <div class="col-lg-6 p-3">
        <iframe width="590" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR5tqeTTTKN5jq0fCmg2PDRlxu_iwmjbAQyHRCklI_7nzkk2lLIixKM-YhAbvTl8UicS7-jruaUxI05/pubchart?oid=1991134589&amp;format=interactive"></iframe>
    </div>

    <div class="col-lg-6 p-3">
        <iframe width="600" height="370" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR5tqeTTTKN5jq0fCmg2PDRlxu_iwmjbAQyHRCklI_7nzkk2lLIixKM-YhAbvTl8UicS7-jruaUxI05/pubchart?oid=889829075&amp;format=interactive"></iframe>
    </div>
    <div class="col-lg-6 p-3">
        <iframe width="600" height="370" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR5tqeTTTKN5jq0fCmg2PDRlxu_iwmjbAQyHRCklI_7nzkk2lLIixKM-YhAbvTl8UicS7-jruaUxI05/pubchart?oid=700344207&amp;format=interactive"></iframe>
    </div>
    <div class="col-lg-6 p-3">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSXKESAace7Vf4reh6JDEYmO-F09LQ3xf_A3xBcjZInBYxAL0Zk0QdwA4zQN0f572oVxmhi9L24XRp2/pubchart?oid=585121573&amp;format=interactive"></iframe>
    </div>
    <div class="col-lg-6 p-3">
        <iframe width="470" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSXKESAace7Vf4reh6JDEYmO-F09LQ3xf_A3xBcjZInBYxAL0Zk0QdwA4zQN0f572oVxmhi9L24XRp2/pubchart?oid=1653285045&format=interactive"></iframe>
    </div>
</div>
