@model IEnumerable<EVSFinalProjectClasses.UserManagment.Country>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Countries</h2>

<p>
    @Html.ActionLink("Add New", "AddCountry")
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr class="bg-dark text-white">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCountry", new { id = item.Id }) |
                    @Html.ActionLink("Cities", "Cities", new { id = item.Id })
                </td>
            </tr>
        }


    </table>
</div>

