@model EVSFinalProjectClasses.UserManagment.User

@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateUser</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LoginId)
            <div>
                @Html.TextBoxFor(model => model.LoginId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.TextBoxFor(model => model.Password, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword)
            <div>
                @Html.TextBoxFor(model => model.ConfirmPassword, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullName)
            <div>
                @Html.TextBoxFor(model => model.FullName, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country)
            <div>
                @Html.TextBoxFor(model => model.Country, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl)
            <div>
                @Html.TextBoxFor(model => model.ImageUrl, null, new { @class = "form-control", type = "file" })
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive)
            <div>
                @Html.TextBoxFor(model => model.IsActive, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate)
            <div>
                @Html.TextBoxFor(model => model.BirthDate, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityAnswer)
            <div>
                @Html.TextBoxFor(model => model.SecurityAnswer, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SecurityAnswer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityQuestion)
            <div>
                @Html.TextBoxFor(model => model.SecurityQuestion, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SecurityQuestion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone)
            <div>
                @Html.TextBoxFor(model => model.Phone, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender.Name)
            <div>
                @Html.TextBoxFor(model => model.Gender.Name, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role.Id)
            <div>
                @Html.TextBoxFor(model => model.Role.Id, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role.Id, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-success"><span class="fa fa-pencil-alt"></span>&nbsp;&nbsp;Update </button>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Customer")
</div>
<br /><br />
<br /><br />