@model EVSFinalProject.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/fontawsome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/assets/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>
<body class="bg2-img">
    @RenderPage("~/Views/Users/SignUp.cshtml")
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-12 container-border img-fluid logintran">
            @if (ViewBag.ErrorMessage != null)
            {
                <p> @ViewBag.ErrorMessage</p>
            }
            @using (Html.BeginForm("Login", "Users", new { c = ViewBag.Controller, a = ViewBag.Action }, FormMethod.Post, new { id = "loginform" }))
            {
                <div class="form-group">
                    <label class="label-text">Email</label>
                    @Html.TextBoxFor(m => m.Loginid, new { @class = "form-control", placeholder = "Enter Valid Email" })
                    <br />
                    <div style="text-align: center;"> @Html.ValidationMessageFor(m => m.Loginid, null, new { style = "color :red" }) </div>
                </div>

                <div class="form-group">
                    <label class="label-text">Password</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Your Password", type = "password" })
                    <br />
                    <div style="text-align: center;">@Html.ValidationMessageFor(m => m.Password, null, new { style = "color :red" })</div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label label-text" for="exampleCheck1">Remember Me</label>
                    </div>
                </div>

                @*<div>
                        <input type="checkbox" class="d-inline" id="remember-me" name="remember-me" />
                        <span for="remember-me" class=" d-inline"> Remember Me</span>
                    </div>*@
                <div class="text-center">
                    <input type="submit" value="Login" />
                </div>
            }
            <div class="mt-1">
                <div class="text-center">
                    <a href="@Url.Action("PasswordRecovery","Users")" style="color: blue">Recover Your Password!</a>
                </div>
            </div>
            <div class="mt-1">
                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#myModals" style="color: darkblue">Get Register Your Account...!</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#register').on('click', function () {
                var name = $('#FullName').val();
                var logid = $('#Loginid').val();
                var email = $('#Email').val();
                var sq = $('#SecurityQuestion').val();
                var pass = $('#Password').val();
                var conpass = $('#ConfirmPassword').val();
                var dob = $('#BirthDate').val();
                var secans = $('#SecurityAnswer').val();
                //var img=$()
                if (name === "" && logid === "" && email === "" && sq === "" && pass === "" && conpass === "" && dob === "" && secans === "") {
                    sweetAlert("Sorry", "Please Fill All Fields!", "error");
                    return false;
                }

            }); //Get Register Function here
            //Login Function Here
        }); //REady Function Here


        //AjaxCalling of SignUp Page
        $("#Country").change(function () {

            var cityid = $(this).select("option:selected").val();
            $.ajax(
                {
                    url: "/Users/Dropdownlist/" + cityid,
                    type: "get",
                    success: function (result) {

                        $("#citydiv").html(result);
                    }
                }
            ); //ajax braket
        });
        //
        $('#login').on('click', function () {
            var loginid = $('#Loginid').val();
            var password = $('#Password').val();
            if (loginid === "" && password === "") {
                sweetAlert("Sorry", "Please Fill All The Empty Fillds", "error");
                return false;
            }
        });//Finish Here
        $(document).ready(function () {
            $(document).on('click', '.fileUpload', function () {
                $(this).children('.upload').change(function (event) {
                    readURL(this);
                    fileName = $(this).val();
                    //$(this).siblings(".uploadFile").text(fileName);
                });
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                        //$('.fileUpload').css('background', 'url('+e.target.result+') no-repeat scroll 0% 0%');
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        });

    </script>
</body>
</html>
