@model EVSFinalProject.Models.Email

@{
    ViewBag.Title = "PasswordRecovery";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Login.css" rel="stylesheet" />
@using (Html.BeginForm("passwordrecovery", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="row" style="margin-top:5%">
        <div class="col-lg-4 col-lg-offset-4  container-border">
            @Html.LabelFor(m => m.email)
            @Html.TextBoxFor(m => m.email, null, new { @class = "form-control ", placeholder = "Enter Your Recovery Email" })
            @Html.ValidationMessageFor(m => m.email, null, new { @class = "text-danger" })

            <br />
            @if (ViewBag.Error != null)
            {
                <a class="btn btn-danger" href="@Url.Action("PasswordRecovery")"><span class="glyphicon glyphicon-refresh"></span> RETRY</a>
                <hr />
                <div class="alert alert-danger">@ViewBag.Error</div>
            }
            else if (ViewBag.Success != null)
            {
                <a class="btn btn-success" href="@Url.Action("Login")">Goto Login page</a>
                <hr />
                <div class="alert alert-success">@ViewBag.Success</div>
            }
            else
            {
                <button class="btn btn-default" type="submit">Send Mail</button>
            }
        </div>
    </div>
}