@model EVSFinalProjectClasses.UserManagment.User

@{
    /**/

    ViewBag.Title = "SignUp";
}
<style>
    .modal-dialog {
        max-width: 1270px;
    }
</style>
<link href="~/Content/fontawsome/css/fontawesome-all.css" rel="stylesheet" />
<div>
    <div class="modal" id="myModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 1270px !important">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Get Register Your Self</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("SignUp", "Users", new { c = ViewBag.Controller, a = ViewBag.Action }, FormMethod.Post, new { id = "loginform", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-lg-2">
                                <div style="margin-top: 4%">
                                    <div class="" id="fileUpldbtnContainer" style="padding: 0; width: 221px;">
                                        <div>
                                            <img id="blah" src="" alt="" class="img-fluid" style="height: 153px; width: 174px; z-index: 0; position: absolute; top: 2px;" />
                                        </div>
                                        <div class="fileUpload" style="height: 152px; width: 176px; padding: 29px 51px; font-size: 74px; color: rgba(0, 0, 0, 0.1); border: 2px solid rgba(0, 0, 0, 0.1);">
                                            <span class="uploadFile"><span class="fa fa-plus"></span></span>
                                            <input id="photo" name="photo" type="file" class="upload" style="position: absolute; top: -2px; left: 16px; margin: 0; padding: 0px; font-size: 2em; cursor: pointer; opacity: 0; filter: alpha(opacity=0); box-sizing: content-box; width: 197px;" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="fname" class="col-sm-5">Full Name</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Enter your Name" })
                                            <br />
                                        </div>
                                        <div style="text-align: center;"> @Html.ValidationMessageFor(m => m.FullName, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-5">Email</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your Email" })
                                            <br />
                                        </div>
                                        <div style="text-align: center;"> @Html.ValidationMessageFor(m => m.Email, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-sm-5">Login Id</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", Placeholder = "Enter User Name" })
                                            <br />
                                        </div>
                                        <div style="text-align: center;"> @Html.ValidationMessageFor(m => m.LoginId, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="country" class="col-sm-5">select country</label>
                                    <div class="col-sm-10" id="country">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-flag fa-lg" aria-hidden="true"></i></span>
                                            </div>
                                            @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.countries, "- Select Country -", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="securityquestion" class="col-sm-6"> Security Question </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-question fa-lg" aria-hidden="true"></i></span>
                                            </div>  @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "form-control", placeholder = "Security Question" })
                                            <br />
                                        </div>
                                        <div style="text-align: center"> @Html.ValidationMessageFor(m => m.SecurityQuestion, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="securityquestion" class="col-sm-6"> Active Phone </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
                                            </div> @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone No Formate 3349875662" })
                                            <br />
                                        </div>
                                        <div style="text-align: center"> @Html.ValidationMessageFor(m => m.Phone, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="password" class="col-sm-5">Password</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            </div>  @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Passwword", name = "password" })
                                            <br />
                                        </div>
                                        <div style="text-align: center;"> @Html.ValidationMessageFor(m => m.Password, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="conpassword" class="col-sm-6">Confirm Password</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            </div> @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                            <br />
                                        </div>
                                        <div style="text-align: center;"> @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dob" class="col-sm-6">Date of Birth </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></span>
                                            </div> @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", placeholder = "dd/mm/yyyy", type = "date" })
                                            <br />
                                        </div>
                                        <div style="text-align: center"> @Html.ValidationMessageFor(m => m.BirthDate, null, new { style = "color :red" }) </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-sm-6">Select City</label>
                                    <div class="col-sm-10" id="citydiv">
                                        <div class="input-group ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="securityans" class="col-sm-6"> Security Answer </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-question fa-lg" aria-hidden="true"></i></span>
                                            @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "form-control", placeholder = "Security Answer" })
                                            <br />
                                        </div>
                                        <div style="text-align: center"> @Html.ValidationMessageFor(m => m.SecurityAnswer, null, new { style = "color :red" }) </div>
                                    </div>
                                </div><br />
                                <div class="col-sm-10" style="margin-top: 3%">
                                    <div class="form-group">

                                        @Html.LabelFor(m => m.Gender.Name) &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                        @foreach (var b in (IEnumerable<SelectListItem>)ViewBag.GenderList)
                                        {
                                            <label>@Html.RadioButton("gender.Name", b.Value) @b.Text</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="fa fa-user-plus fa-lg btn btn-success btn-lg" id="register" style="margin-left:85%">&nbsp;Register</button>
                    }

                </div>

            </div>
        </div>
    </div>
</div>
