@using EVSFinalProjectClasses
@using EVSFinalProjectClasses.UserManagment
@{
    /**/

    /**/

    User currentuser = (User)Session[WebUtils.Current_User];
}
<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126546706-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-126546706-1');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/assets/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawsome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet" />
</head>
<body>
    <style>
        side-scroll {
            height: 600px;
            overflow-y: scroll;
        }

        .heading {
            color: #66cdaa !important;
            font-size: 30px;
            font-family: fantasy;
        }
    </style>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("DashBoard", "Admin")">OnLine Mobile Shop</a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link heading" href="@Url.Action("DashBoard", "Admin")">
                            Online Mobile Shop Panel
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")"><span class="fa fa-home"></span>&nbsp;Visit Site</a></li>
                    @if (currentuser != null)
                    {

                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><span class="fa fa-user"></span>&nbsp;@currentuser.FullName<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link text-black-50" href=""> <span class="fa fa-user-circle"></span>&nbsp; Admin Panel</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="nav-item"><a class="nav-link text-black-50" href="@Url.Action("Logout", "Users")"><span class="fa fa-sign-out-alt"></span> Log out</a></li>
                            </ul>
                        </li>

                    }
                </ul>
            </div>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 p-3 side-scroll">
                <div class="sidebar navbar-nav">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="navbar-nav" id="side-menu" style="margin-top: -18%;">
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("DashBoard", "Admin")"><span class="fa fa-tachometer-alt"></span>&nbsp;&nbsp;Dash Board</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Customer", "Admin")"><span class="fa fa-users fa-lg"></span>&nbsp;&nbsp;Users Details</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Messanger", "Admin")"><span class="fa fa-envelope fa-lg"></span>&nbsp;&nbsp;Messanger</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Create", "Product")"><span class="fa fa-crosshairs fa-lg"></span>&nbsp;&nbsp;Create Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("TotalProduct", "Admin")"><span class="fab fa-product-hunt fa-lg"></span>&nbsp;&nbsp;Total Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Orders", "Admin")"><span class="fa fa-shopping-cart fa-lg"></span>&nbsp;&nbsp;Order Deatails <i class="badge badge-info">@Html.Action("GetOrdersCount", "product")</i></a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Admin")"><span class="fa fa-map-marker fa-lg"></span>&nbsp;&nbsp;Add Location</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "OperatingSystem")"><span class="fab fa-apple fa-lg"></span>&nbsp;&nbsp;Operating System</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Slider")"><span class="fa fa-file-image fa-lg"></span>&nbsp;&nbsp;Slider Images</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Brands")"><span class="fa fa-mobile fa-lg"></span>&nbsp;&nbsp;Mobile Brands </a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Contact")"><span class="fa fa-comments fa-lg"></span>&nbsp;&nbsp;Recived Messages </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 p-5">
                @RenderBody()
            </div>
        </div>
    </div>

    @*Footer Area Work*@

    <!-------------------------------Script Files-------------------------------------->
    <script src="~/Content/assets/js/vendor/jquery.min.js"></script>
    <script src="~/Content/assets/js/vendor/popper.min.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("myscript", required: false)
</body>
</html>

