
@model IEnumerable<EVSFinalProjectClasses.ProductMgmt.PlaceOrder>




<h5 class="mt-5 text-center">Product Information</h5>
<div class="table-responsive">


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Image</td>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
            </tr>
        </thead>
        @*<tbody>
                @foreach (var v in Model)
                {
                    foreach (var c in v.CartItems)
                    {
                        <tr>
                            <td>@c.ImageUrl</td>
                            <td>@c.Name</td>
                            <td>@c.Price</td>
                            <td>@c.Qauntity</td>
                            <td>@c.Amount</td>
                        </tr>
                    }
                }
            </tbody>*@
    </table>
</div>
