@using EVSFinalProject.Models
@model IEnumerable<ProductSummeryModel>


@if (Model != null)
{
    <div class="row">
        @foreach (var p in Model)
        {
            <div id="proditem" class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top:5% ">
                <div class="thumbnail prodsmyitem">
                    @if (p.ImageUrl != null)
                    {<img src="@Url.Content(p.ImageUrl)" alt="@p.Name" />}
                    else
                    {<h3>No Image</h3>}

                    <h2>
                        @p.Name
                    </h2>
                    <p>
                        @string.Format("{0:N0}", p.Price)
                    </p>
                    <p class="cartbtnwpr">
                        <button type="button" style="border-radius: 30px" class="btn btn-primary addcartbtn" data-pid="@p.Id" data-pname="@p.Name" data-pprice="@p.Price" data-purl="@p.ImageUrl" data-pqty="1">
                            Add To Cart &nbsp;&nbsp; <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </p>
                    <p style="margin-top: 5px">
                        <a href="@Url.Action("ViewDetail","Home", new { Id = p.Id})" style="border-radius: 30px" class="btn btn-success">View Details&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></a>
                    </p>
                </div>
            </div>
        }
    </div>

}






