
@model EVSFinalProjectClasses.ProductMgmt.PlaceOrder
@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="bg-19443">

    @using (Html.BeginForm("PlaceOrder", "Product", FormMethod.Post, new { id = "place" }))
    {
        <div class="container">
            <div class="col-lg-6 offset-lg-3 container-border23">
                <h3 class="text-center">Place Your Order</h3>
                <div class="form-group">
                    @Html.LabelFor(m => m.BuyerName, new { style = "color:white" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="fa fa-user fa-lg"></span></div>
                        </div>
                        @Html.TextBoxFor(m => m.BuyerName, null, new { @class = "form-control", placeholder = "Enter Buyer Name" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, new { style = "color:white" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="fa fa-envelope"></span></div>
                        </div>
                        @Html.TextBoxFor(m => m.EmailAddress, null, new { @class = "form-control", placeholder = "Enter Your Email" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FullAddress, new { style = "color:white" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="fa fa-address-card"></span></div>
                        </div>
                        @Html.TextBoxFor(m => m.FullAddress, null, new { @class = "form-control", placeholder = "Enter Your FullAddress" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { style = "color:white" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="fa fa-phone"></span></div>
                        </div>
                        @Html.TextBoxFor(m => m.Phone, null, new { @class = "form-control", placeholder = "Enter Your Phon" })
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right"><span class="fa fa-shopping-basket"></span>&nbsp;&nbsp;PlaceOrder</button>
            </div>
        </div>

    }
</body>
@section myscript
{
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Product/EmailSendToCutomer",
                success: function (data) {
                    alert("Heellooo");
                }
            });
        });
    </script>
}
