@model EVSFinalProjectClasses.ProductMgmt.PlaceOrder
@using EVSFinalProjectClasses
@using EVSFinalProjectClasses.UserManagment
@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User cUser = (User)Session[WebUtils.Current_User];
}

<h2 class="text-center">TrackOrder</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            @using (Html.BeginForm("TrackOrder", "Product", FormMethod.Post, new { id = "trackOrder", enctype = "multipart/form-data" }))

            {
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                        </div>
                        <input name="orderId" type="text" class="form-control" placeholder="#ID-3489" aria-label="#ID 3489" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline-warning"><span class="fa fa-search"></span>&nbsp;&nbsp;Search</button>
                </div>
            }


        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h5 class="text-center">Buyer Info</h5>
            <div class="table-responsive">
                <table class="table table-light table-striped table-hover">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Order_Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            <tr>
                                <td>@Model.BuyerName</td>
                                <td>@Model.EmailAddress</td>
                                <td>@Model.Phone</td>
                                <td>@Model.FullAddress</td>
                                <td>@Model.IsActive</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*@Html.Partial("_Product_details");*@
        </div>
    </div>
</div>